@import url(https://fonts.googleapis.com/css?family=Raleway:200);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #2c3e50;
  color: #fff;
}

.Pt {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  overflow-x: hidden;

  nav {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .Pt-btn {
      z-index: 2;
      width: 200px;
      margin: 10px;
      padding: 10px;
    }
  }
  .Pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    z-index: 1;

    .Pt-pageTitle {
      font-family: "Raleway";
      font-weight: 700;
      font-size: 50px;
      text-align: center;
      margin: 80px auto;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      height: 100vh;
      width: 100%;
    }
  }

  .Pt-page--1 {
    background: url(https://images.unsplash.com/photo-1482332486572-10fff1bedfbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  }

  .Pt-page--2 {
    background: url(https://images.unsplash.com/photo-1569949381669-ecf31ae8e613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  }

  .Pt-page--3 {
    background: url(https://images.unsplash.com/photo-1550092323-341546bcd05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  }

  .is-current {
    visibility: visible;
  }

  .is-onTop {
    z-index: 1;
  }
}
